{% extends "layout.html" %}
{% block title %}Create Journal{% endblock %}

{% block content %}
<h2 class="mb-4 text-center">📝 Create a New Journal</h2>
<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.title.label(class="form-label fw-bold") }}
        {{ form.title(class="form-control", placeholder="Enter journal title") }}
    </div>

    <div class="text-center">
        {{ form.create(class="btn btn-outline-danger") }}
    </div>
</form>
{% endblock %}
